/*Main formatting*/
@font-face{
	font-family: CallunaSans;
	src: url("CallunaSansRegular.otf");
}

body{
	background-color: #EEEEEE;
}

header{
	margin-top: 25px;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
}

footer{

}

article{

}

aside{

}

nav{

}

div{

}

h1{

}

h2{

}

p{

}

a{

}

ul{
	list-style-type: none;
}

li{

}


/* SOCIAL */
#social{
	margin: -20px 0 10px 0;
	height: 30px;
	width: 100%;
	float: right;
}
#social li{
	float:left;
	margin: 0px 5px;
}
#social #twitter{
	background:url("images/twitter.png") no-repeat;
		width:43px;
	height:30px;
	background-position:bottom;
	display:block;
	-webkit-transition:.5s;
	-o-transition:.5s;
	-moz-transition:.5s;
	z-index: 4;
}

#social #twitter:hover{
	background-position:top;
}

#social #linkedin{
	background: url("images/lin.png") no-repeat;
	width: 43px;
	height: 30px;
	display: block;
	background-position: bottom;
	-webkit-transition:.5s;
	-o-transition:.5s;
	-moz-transition:.5s;
	z-index: 4;
}

#social #linkedin:hover{
	background-position: top;
}

/* Header */
header h1{
	font-size:36px;
}

header ul{
	padding: 0;
	margin: 0;
	text-align: center;
}

header li{
	font-family: Avenir;
	color: #FFFFFF;
	float:left;
	font-size: 48px;
	margin: 3px;
	height: 66px;
	width: 66px;
	background-color: #999999;
}

/* NAV */

nav{
	text-align: center;
	height:100%;
	width:100%;
	margin: 10px 0 0 0;
	padding: 0px;
	display:-webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
}

nav ul{
	padding: 0px;
	margin: 0px;
}

nav li{
	float:left;
}

nav li a{
	float: left;
	text-decoration: none;
	color: #000000;
	font-family: Avenir;
	font-size: 24px;
	padding: 5px 37px;
	margin: 0px;

	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
